 @import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100&display=swap');

.main-background{
    min-height: 93vh;
    display: flex;
    padding: 10px 0;
}

.page{
    width: 100%;
}

.heading{
    font-size: 50px;
    font-family: 'Playpen Sans', cursive;
    padding: 5px 10px;
}

@media only screen and (max-width: 600px) {
    .heading{
        font-size: 30px;
        display: flex;
        justify-content: center;
    }
}